<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>

  <div class="listDiv">
    <ul class="taskList">
      <li class="taskList" *ngFor="let task of tasks" (click)="taskClicked(task)">
        {{task.name}}
        <span style="color: brown; float:right" (click)="deleteTask(task)"> x </span>
        <span style="color: darkorange; float:right" (click)="updateTask(task, name.value, description.value)">u &nbsp;</span>
      </li>
    </ul>

<div class="addDiv">
  <ul>
    <li><input type="text" id="input" placeholder="name" required ="true" value="" #name /></li>
    <li><input type="text" id="desc" placeholder="description" required = "true" value="" #description /></li>
    <li>
      <button class="" (click)="addTask(name.value, description.value)">Add Task</button>
    </li>
  </ul>
  <br/>
  <app-task [click] ="clicked" [task]="clickedTask" (closeDesc)="closeDesc($event)"></app-task>
</div></div>
