div.listDiv{
  position: absolute;
  left: 30%;
  top: auto;
  width: 40%;
}
div.listDiv ul.taskList{
  border: solid gray;
  border-radius: 3px;
  margin: 20px;
  padding: 0px;
  list-style: none;
  align-self: center;
}

div.listDiv li.taskList{
  margin: 5px;
  padding: 5px;
  background-color: lightslategray;
  border: ButtonFace;
  border-radius: 3px;
}

div.addDiv ul{
  text-decoration: none;
  list-style: none;
  padding: 0px;
}
div.addDiv li{
  text-align: center;
  padding-bottom: 10px;
}
input{
  border-radius: 5px;
  border-color: transparent;
  width: 50%;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
button:hover , input {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
